

:root {
   --primary-font:
    --secondary-font:
    --primary-text-color:
    --primary-background-color:
    --secondary-text-color:
    --primary-color:
    --accent-color: #F5C542;
    --success-color: #50cc2e;
    --danger-color: #ac3527;
    --nav-background:
    --shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    --shadow-hover: 0 4px 20px rgba(0, 0, 0, 0.15);
    --success-bg: #c5f1d0;
    --success-text: #155724;
    --warning-bg: #ffe38d;
    --warning-text: #857004;
    --white: #ffffff;
    --black: #000000;
}